* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(26, 54, 74);
}

button {
	border: none;
}

button:focus,
a:focus {
	outline: 0;
}

.hidden {
	display: none;
}

.container {
	width: 270px;
	max-height: 400px;
	padding: 5px;
}

.popup-title-container {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	background-color: rgb(26, 54, 74);
	color: lightgray;
}

.popup-title-container > img {
	height: 75%;

}

#tag-titles {
	margin: 1% 0;
	max-height:300px;
	overflow: auto;
}

.tab-container {
	width: 100%;
	height: 31px;
	border: 2px solid transparent;
	padding: 5px;
	font-size: 1.2em;
	margin: 1% 0;
	background: white;
}

.tab-container:hover {
	cursor: pointer;
	filter: brightness(80%);
}

.title-container {
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	display: inline-block;
	width: 79%;
	padding-left: 2%;
}

.trashcan-container, .favicon-container{
	margin: 0 1%;
	height: 100%;
	display: inline-block;
	width: 7%;
}

.favicon-container > img {
	height: 100%;
}

.title {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	margin-left: 10px;
	color: #ffffff;
}

a {
	text-decoration: none; 
}

.title:hover {
	color: rgb(212, 167, 129);
}

.fa-trash-alt {
	color: black;
	font-size: 125%;
}

.fa-trash-alt:hover {
	color: grey;
}


.user-tools {
	position: relative;
	width: 100%;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1%;
}

.popup-button {
	font-family: 'Lato', sans-serif;
	width: 40%;
	background-color: white;
	color: rgb(26, 54, 74);
	text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.popup-button:hover {
	cursor: pointer;
	color: white;
	background-color: rgb(143, 182, 179);
}

#login {
	width: 86%;
}

#signup {
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup:hover {
	cursor: pointer;
	color: white;
}

#signup {
	text-decoration: none;
	color: rgb(26, 54, 74);
}

#webpage,
#logout {
	display: none;
}

#webpage{
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#refresh {
	font-size: 25px;
	color: white;
	margin: auto;
	position: absolute;
	right: 5px;
}

#refresh:hover {
	color: rgb(143, 182, 179);
	cursor: pointer;
}

.yellow {
	background-color: rgb(233, 229, 153);
}

.red {
	background-color: rgb(156, 95, 88);
}

.green{
	border: 3px solid rgb(143, 182, 179);
}

.activetab {
	font-weight: bold;
	padding: 5px;
	background-color: #b2b2b2;
	border: 3px solid rgb(143, 182, 179);

}


.active-window {
	color: #ffffff;
	text-align: center;
}