.about-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}

.about-main-image {
	width: 50%;
}

.row {
	margin: auto;
	display: flex;
	justify-content: center;
}
