.footer-container {
	height: 15%;
	border-bottom: 2px solid black;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	margin: 2% auto;
	width: 75%;
}

.footerLink {
	display: flex;
	margin: auto;
}

.copyright {
	display: flex;
	margin: auto;
	color: rgb(136, 136, 136);
}
