.landing-page-container {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.landing-page {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.button-container {
	display: flex;
	flex-direction: column;
}
